@using ListAsset.DataAccess.Models

<EditForm Model="@Asset" OnValidSubmit="@OnValidSubmit">
    <div class="form-group">
        <label>Asset Code :</label>
        <div>
            <InputText @bind-Value="@Asset.AssetCode" class="form-control col-sm-3" />
            <ValidationMessage For="@(() => Asset.AssetCode)" />
        </div>
    </div>
    <div class="form-group">
        <label>Asset Type :</label>
        <div>
            <InputText @bind-Value="@Asset.AssetType" class="form-control col-sm-3" />
            <ValidationMessage For="@(() => Asset.AssetType)" />
        </div>
    </div>
    <div class="form-group">
        <label>Asset Name :</label>
        <div>
            <InputText @bind-Value="@Asset.AssetName" class="form-control col-sm-3" />
            <ValidationMessage For="@(() => Asset.AssetName)" />
        </div>
    </div>
    <div class="form-group">
        <label>Quantity :</label>
        <div>
            <InputNumber @bind-Value="@Asset.Quantity" class="form-control col-sm-3" />
            <ValidationMessage For="@(() => Asset.Quantity)" />
        </div>
    </div>
    <div class="form-group">
        <label>Country :</label>
        <div>
            <InputSelect id="department" @bind-Value="@Asset.CountryId" class="form-control col-sm-3">
                @foreach (var country in Countries)
                {
                    <option value="@country.CountryId">@country.CountryName</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => Asset.CountryId)" />
        </div>
    </div>

    <div class="form-group">
        <div>
            <br/>
            <button disabled="@Loading" class="btn btn-primary">
                @if (Loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                @ButtonText
            </button>
        </div>
    </div>

</EditForm>

@code {
    [Parameter]
    public Asset Asset { get; set; }
    [Parameter]
    public string ButtonText { get; set; } = "Save";
    [Parameter]
    public bool Loading {get; set;} = false;
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
    [Parameter]
    public List<Country> Countries { get; set; }
}