@using ListAsset.DataAccess.Models

<div class="row" style="bottom: 0; left: 0; margin-left: 15px; margin-right: 0; position: absolute; right: 0; top: 65px">
    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8" style="padding-left: 0; padding-right: 0">
        <RadzenCard style="margin-top: 0;width:500px">
            <RadzenTemplateForm Data="@Asset" TItem="Asset" Submit="@OnValidSubmit">
                <ChildContent>
                    <div style="margin-bottom: 1rem" class="row">
                        <div class="col-md-3">
                            <RadzenLabel Text="Code" Component="AssetCode" style="width: 100%">
                            </RadzenLabel>
                        </div>
                        <div class="col-md-9">
                            <RadzenTextBox MaxLength="256" style="width: 100%" @bind-Value="@(Asset.AssetCode)" Name="Code">
                            </RadzenTextBox>
                        </div>
                    </div>
                    <div style="margin-bottom: 1rem" class="row">
                        <div class="col-md-3">
                            <RadzenLabel Text="Name" Component="AssetName" style="width: 100%">
                            </RadzenLabel>
                        </div>
                        <div class="col-md-9">
                            <RadzenTextBox MaxLength="256" style="width: 100%" @bind-Value="@(Asset.AssetName)" Name="Name">
                            </RadzenTextBox>
                        </div>
                    </div>
                    <div style="margin-bottom: 1rem" class="row">
                        <div class="col-md-3">
                            <RadzenLabel Text="Type" Component="AssetType" style="width: 100%">
                            </RadzenLabel>
                        </div>
                        <div class="col-md-9">
                            <RadzenTextBox MaxLength="256" style="width: 100%" @bind-Value="@(Asset.AssetType)" Name="Type">
                            </RadzenTextBox>
                        </div>
                    </div>
                    <div style="margin-bottom: 1rem" class="row">
                        <div class="col-md-3">
                            <RadzenLabel Text="Quantity" Component="AssetQuantity" style="width: 100%">
                            </RadzenLabel>
                        </div>
                        <div class="col-md-9">
                            <RadzenNumeric style="width: 100%" @bind-Value="@(Asset.Quantity)" Name="Quantity">
                            </RadzenNumeric>
                        </div>
                    </div>
                    <div style="margin-bottom: 1rem" class="row">
                        <div class="col-md-3">
                            <RadzenLabel Text="Country" Component="CountryId" style="width: 100%">
                            </RadzenLabel>
                        </div>
                        <div class="col-md-9">
                            <RadzenDropDown Data="@Countries" TextProperty="CountryName" ValueProperty="CountryId" Placeholder="Choose Country" style="width: 100%" @bind-Value="@(Asset.CountryId)" Name="CountryId">
                            </RadzenDropDown>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col offset-sm-3">
                            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                            </RadzenButton>
                        </div>
                    </div>
                </ChildContent>
            </RadzenTemplateForm>
        </RadzenCard>
    </div>
</div>



@code {
    [Parameter]
    public Asset Asset { get; set; }
    [Parameter]
    public string ButtonText { get; set; } = "Save";
    [Parameter]
    public bool Loading {get; set;} = false;
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
    [Parameter]
    public List<Country> Countries { get; set; }
}